* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
  margin-right: 100px; 
  margin-left: 100px;
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
  .carousel {
    margin-right: 0px; 
    margin-left: 0px;
  }
}