* { box-sizing: border-box; }

body { 
  background: rgb(125,229,233);
  background: linear-gradient(180deg, rgba(125,229,233,1) 0%, rgba(0,212,255,0.11528361344537819) 100%);
}

.carousel {
  background: #EEE;
  margin-right: 0px; 
  margin-left: 0px;
}

.carousel img {
  display: block;
  height: 200px;
}
.margin-fix {
  margin-right: 0px; 
  margin-left: 0px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
    border-radius: 25px;
  }
  .carousel {
    margin-right: 100px; 
    margin-left: 100px;
  }
  .margin-fix {
    margin-right: 100px; 
    margin-left: 100px;
  }
}