body {
    color: black;
    background: white;
    .carousel {
  background: #EEE;
}
@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: black;
   .h1 {
      color: white;
}
   .carousel {
  background: #363636;
}
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}
